projenv
task.db
10) FAPI+Project/__pycache__/repository.cpython-313.pyc
10) FAPI+Project/__pycache__/router.cpython-313.pyc
10) FAPI+Project/__pycache__/schemas.cpython-313.pyc
10) FAPI+Project/__pycache__/main.cpython-313.pyc
10) FAPI+Project/__pycache__/database.cpython-313.pyc
